.main-footer{
    color: #fff;
    background: rgb(3, 0, 0);
    padding-top: 2rem;
    /* position:absolute; */
    bottom: 0;
    align-content: center;
    width: 100%;
    height: auto;
    overflow:scroll;
    /* z-index: -1; */
    font-size: 3mm;
  }