.App{
  text-align: center;
  display: inline;
}
 /* Home Body */
 .homeBody{
   /* background-color: rgba(26, 83, 18, 0); */
   display:block;
 }

 .homePage{
  background-color: rgb(9, 87, 29);
  padding-top: 1rem;
 }

 .Nav{
  background: rgb(3, 0, 0);
}