
.App{
  text-align: center;
  display: inline;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
 /* Home Body */
 Carousel{
  margin-left: calc(50% - 50vw);
  width: 100vw;
 }

 .homePage{
  background-color: rgb(9, 87, 29);
  padding: 1.5rem;
  margin-top: 1rem;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  margin-bottom: 1rem; 
  /* display: flex-box; */
 }
 .Nav{
  background: rgb(3, 0, 0);
  height: 2rem;
}

.link {
  color: black;
}
.link:hover {
   color: rgb(195, 195, 7);
}

h1{
  color: black;
}

/* Navbar */
.web-title{
  /* justify-content: flex-start; */
  /* float:inline-start; */
  display:contents;
  padding-right: 20rem;
  color: #fff;
  background-color: black;
  font-size: 30px;
  font-variant: small-caps;
}
.logo{
  height: 3rem;
}

/* Filter btns */
.navbar{
  /* margin-left: 3rem;
  margin-right: 4rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem; */
  background: rgb(156, 156, 156);
  border-radius: 0.2rem;
  /* display: flexbox; */
  height: 3rem;
}
.filter-btns{
  margin: 0.5rem;
  margin-bottom: 1.3rem;
  padding-bottom: 0.5rem;
  background-color: black;
  border-radius: 0.2rem;
  display:block;  
  padding: 0rem;
  position:relative;
  /* float: left; */
  width: 11rem;
  color: #fafafa;
}
.filter-btns:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.filterSearch{
  /* width: 100%; */
  /* border-radius: 3px; */
  /* padding: 0.5rem; */
  /* display:grid; */
  color:black;
  width: 20rem;
  position:sticky;
}
.search-btn{
  background: black;
  color: white;
  height: 1.8rem;
  /* display:inline-flex; */
  border-radius: 0.3rem;
  position:relative;

}

/* Recipe Holder */
.card-holder{
  background: rgb(9, 87, 29);
  padding: 2rem;
  margin-bottom: 1rem;
}

.card {
  max-width: 18rem;
}